/* 
    Document   : display
    Created on : 10-mag-2013, 12.26.53
    Author     : lenz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.amiCommand, .amiEvent, .amiResponse, .amiError, .amiOther {
    font-family: monospace;
    border-bottom: 10px;
    border-radius: 10px;
    border: 1px solid;
    padding: 3px;
    margin-bottom: 10px;
}

.amiCommand {
    background: white;
    border-color: green;
}

.amiEvent {
    background: lightcyan;
    border-color: black;
    
}

.amiResponse {
    background: white;
    border-color: green;
    color: darkgreen;
}

.amiError {
    background: red;
    border-color: darkred;
    color: white;
}

.amiOther {
    background: coral;
    border-color: red;
}

.cmd {
    width: 800px;
    height: 150px;
}


#results {
    border: 0px black;
    height: 700px;
    width: 800px;
    overflow:auto;    
}

